body{
    background-color: rgb(241, 243, 244);
    padding-top: 80px;
}

#contenaire{
    width:100%;
    margin: auto;   
}

#nav-bar input {
    width: 12rem;
    height: 1.2rem;
    border-radius: .3rem;
 
    margin-top: .8rem;
}

header{
  background-color: white; 
  height: 70px;
  width: 100%;   
 
 display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  background-color: white;
}

#title{
    text-align: center;
    text-transform: uppercase;

}

nav {
    width: 70%;
    margin: auto;
   display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-top: .3rem ;
    padding-right: 1rem;
    
}
nav input,ul{
    display: inline-block;
    float: right;
    
}
nav ul li {
    list-style: none;
    text-decoration: none;
    margin-right: 3rem;
}
nav ul li{
    display: inline;
}
nav ul li a {
    
    text-decoration: none;
}
#Product{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    
    padding-top: 2rem;
   
}
.prod{
    display: flex;
   justify-content: space-between;
   width: 70%;
   background-color: white;
}

#video,#Product_details{
    background-color: white;

}
#button{
   display: flex;
 
}
.button{
    
    height: 3rem;
    width: 10rem;
    border-radius: .2rem;
    background-color: white;
    color: #fff;
    justify-content: center;
    display: flex;
    align-items: center;
}
.button_acheter{
    background-color: rgb(255, 71, 71);
}
.button_panier{
    background-color: rgb(255, 154, 0);
    margin-left: .5rem;
}
.Product_details-image img{
    margin-left: .2rem;
}
.product_recommandé p img {
    border-radius: .55rem;
    border: 1px solid black;
}
.product_recommandé {
    background-color: white;
    border-radius: .2rem;
    padding: .5rem;
    }
.product_recommandé p{
text-align: center;
}
#about{
    padding-top: 2rem;
    margin: auto;
    background-color: white;
    text-align: center;
    margin-top: 4rem ;
}
.about_heading{
    margin-bottom: 3rem;
}
.about_heading h1{
    font-weight: bold;
}
.about_phone{
    display: flex;
    justify-content: space-evenly; 
    width: 50%;  
    margin: auto;
}
.about_phone_details{
    width: 50%;
    text-align: left;


}

form{
    display: flex;
    flex-direction: column;
}
#email {
    width: 25%;
    margin: auto;
    height: 2rem;
    border-radius: .2rem;
}
#submit {
    width: 10%;
    color: white;
    margin: auto;
    height: 1.9rem;
    font-weight: bold;
    margin-top: 1rem;
    background-color:rgb(255, 71, 71) ;
}
#submit:hover{
    background-color: whitesmoke;
    border: 1px solid black;
    color: rgb(255, 71, 71) ;
    border-radius: .2rem;
}

/*OVERVIEW*/

.overview_first_blocimg{
    width: 90%;
    margin: auto;
    display: flex;
    
    justify-content: space-evenly;
 
}
.overview_first_blocimg img:nth-child(2){
    margin-top: 10rem;
    margin-bottom: -20rem;
 
}
.overviewbot.overview_first h1{
    text-align: center;

}
.overview_first h1{
    padding: 8rem;
    font-size: 5rem;
}
.overviewbot{
    margin-top: 20rem;
}
.overviewbot .img1{
    display: block;
    width: 50%;
    margin: auto;
}
.overviewbot .img2{
    margin-top: 20rem;
    display: flex;
    justify-content: space-evenly;
}
.overviewbot .img2 img:nth-child(2){
    margin-top: -15rem;
    margin-bottom: 10rem;
}
#overviewpoducts{
    background-color:white;
    margin-top: 10rem;
    padding-bottom: 3rem;
}
.overproducts{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}
.overproducts_details{
    width: 25%;
    height: 300px;
    word-wrap: break-word;
    border: 2px solid  rgb(241, 243, 244) ;
    text-align: center;
    box-shadow: .1rem .1rem .3rem .3rem;

}
.overproducts_details h3{
margin-top: 0;
display: flex;
align-items: center;
justify-content: center;
height: 3rem;



border-bottom: 2px solid rgb(241, 243, 244) ;
background-color: rgba(241, 243, 244,0.7);
}
#overviewpoducts h1{
    padding-top: 1rem;
    padding-left: 7rem;

}
.overproducts_details p{
    padding: 5px;
    font-size: 1.1rem;
}
.overproducts_details p:nth-child(4){
    margin-top: 2.5rem;
    height: 2rem;
    margin: auto;
    width: 5.1rem;
    color: white;
    padding: 0.5rem; ;
    border-radius: .3rem;
    background-color:rgb(255, 154, 0);
}
.overproducts_details p:nth-child(3){
  margin-top: 1.3rem;
}
.overproducts_details p:nth-child(2){
  font-size: 2rem;
  }
  .overproducts_details p:nth-child(4):hover{
    background-color: green;
  }
footer{
    background-color: white;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
    height: 8rem;
}
.footer_foot{
    display: flex;
    justify-content: space-evenly;
  
    height: 1.5rem;
   
    
}
.footer_foot+p{
color: grey;
    
}
@media all and (max-width:){

}